@import '../../../variables';

.counter {
  margin-bottom: 10px;
  font-size: 150px;
  font-weight: 200;
}

.work {
  color: $red
}

.break {
  color: $green;
}

@media (max-width: $bpXS) {

  .counter {
    font-size: 120px;
  }
}
