@import '../../variables';

.scrollContainer {
  grid-column: 4 / 13;
  grid-row: 2 / 4;
}

.container {
  min-width: 620px;
  position: relative;
  display: grid;
  grid-template-columns: 20px repeat(8, 1fr);
  grid-template-rows: repeat(5, 83px) 50px;
  column-gap: 30px;
  align-items: end;
  background-color: $greyF4;
}

.xAxis {
  grid-column: 1 / 10;
  grid-row: 6;
  bottom: 0;

  display: grid;
  grid-template-columns: 20px repeat(8, 1fr);
  column-gap: 30px;

  margin-top: auto;
  height: 50px;
  background-color: #ececec;
  text-align: center;

  .text {
    line-height: 50px;
    color: $grey99;
    font-size: 24px;
    cursor: pointer;
    transition: color .2s ease;

    &.active {
      color: $red;
    }

    &.noData {
      pointer-events: none;
    }
  }
}

.column {
  background-color: $red-unsat;
  grid-row: 1 / 6;
  max-height: 100%;
  z-index: 100;
  cursor: pointer;
  transition: background-color .2s ease;

  &.active {
    background-color: $red;
  }

  &.noData {
    height: 5px;
    background-color: $greyC4;
    pointer-events: none;
  }

  &:hover:not(&.active) {
    background-color: $red-light;
  }
}

.row {
  grid-column: 1/10;
  display: flex;
  align-items: center;

  .bar {
    flex-grow: 1;
    height: 1px;
    background-color: $black;
    opacity: .2;
  }

  .timeline {
    width: 60px;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 12px;
  }
}

@media (max-width: $bpL) {
  .scrollContainer {
    grid-column: 1 / 13;
  }
}

@media (max-width: $bpM) {
  .container {
    column-gap: 20px;
    grid-template-columns: 0 repeat(8, 1fr);
  }

  .xAxis {
    grid-template-columns: 0 repeat(8, 1fr);
    column-gap: 20px;
  }

  .row {
    justify-content: space-between;

    .timeline {
      margin-right: 10px;
      margin-left: 10px;
      width: 50px;
      text-align: end;
    }
  }
}

@media (max-width: $bpS) {
  .scrollContainer {
    overflow-x: scroll;
  }
}
