@import '../../variables';

.wrapper {
  height: 510px;
  grid-column: 6 / 13;
  grid-row: 1 / 4;
  background-color: $greyF4;
}

.workTheme {
  .header {
    background-color: $red;
  }

  .counter {
    color: $red;
  }
}

.breakTheme {
  .header {
    background-color: $green;
  }

  .counter {
    color: $green;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: 0 40px;
  background-color: $greyC4;

  span {
    font-weight: 700;
    color: white;
  }

  span:nth-child(2) {
    font-weight: 400;
  }
}

.timerBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.counter {
  margin-bottom: 10px;
  font-size: 150px;
  font-weight: 200;
}

.taskName {
  margin-bottom: 30px;

  span:nth-child(1) {
    color: $grey99;
  }

  span:nth-child(2) {
    color: $black;
  }
}
