@import '../../../../../variables';
@import '../../../../../mixins';

.title {
  font-size: 24px;
  margin: 25px 0;
}

.closeBtn {
  position: absolute;
  right: 12px;
  top: 12px;
}

.deleteBtn {
  margin-bottom: 10px;
  @include basicBtn;
  background-color: $red;

  &:hover {
    background-color: $red-dark;
  }
}

.cancelBtn {
  font-weight: 300;
  border-bottom: 1px solid $black;
}
