@import '../../variables';

.today {
  grid-column: 1 / 4;
  height: 260px;
  padding: 25px;
  background-color: $greyF4;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.descr {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;

  span {
    font-weight: 700;
    color: $red;
  }
}
