@import '../../variables';
@import '../../mixins';

header {
  box-shadow: 0 0 50px $greyF4;
}

.container {
  max-width: 1440px;
  height: 70px;
  margin: 0 auto;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statistics {
  @include makeLarger;

  svg {
    margin-right: 10px;

    path {
      transition: fill .2s ease;
    }
  }

  span {
    color: $red;
    transition: color .2s ease;
  }

  &:hover {
    path {
      fill: $red-dark;
    }

    span {
      color: $red-dark;
    }
  }
}
