@import '../../variables';

header {
  box-shadow: 0 0 50px $greyF4;
}

.container {
  max-width: 1440px;
  height: 70px;
  margin: 0 auto;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statistics {
  svg {
    margin-right: 10px;
  }

  span {
    color: $red;
  }
}
