@import '../../../variables';
@import '../../../mixins';

.btnLeft {
  @include basicBtn;
  margin-right: 25px;

  &:not(:disabled):hover {
    background-color: $green-dark;
  }
}

.btnRight {
  @include basicBtn;
  color: $red;
  border: 1px solid $red;
  background-color: transparent;

  &:not(:disabled):hover {
    color: white;
    background-color: $red;
  }

  &:disabled {
    pointer-events: none;
    color: $greyC4;
    border: 1px solid $greyC4;
    background-color: transparent;
  }
}
