@import '../../../variables';
@import '../../../mixins';

.btnLeft {
  @include basicBtn;
  margin-right: 25px;
  transition: background-color .2s ease;

  &:not(:disabled):hover {
    background-color: $green-dark;
  }
}

.btnRight {
  @include basicBtn;
  color: $red;
  border: 1px solid $red;
  background-color: transparent;
  transition: color .2s ease, background-color .2s ease;

  &:not(:disabled):hover {
    color: white;
    background-color: $red;
  }
}

button:disabled {
  pointer-events: none;
  color: $greyC4;
  border: 1px solid $greyC4;
  background-color: transparent;
}
