@mixin container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

@mixin basicBtn {
  height: 55px;
  padding: 0 50px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  background-color: $green;
}
