$black: #333;
$red: #DC3E22;
$red-light: #EE735D;
$red-unsat: #EA8979;
$red-dark: #B7280F;
$green: #A8B64F;
$green-dark: #899441;
$greyC4: #c4c4c4;
$grey99: #999;
$greyF4: #F4F4F4;

$bpL: 1100px;
$bpM: 900px;
$bpS: 700px;
$bpXS: 550px;
