@import '../../variables';

.descr {
  grid-column: 1 / 6;

  h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
  }

  li {
    line-height: 2;
    display: flex;

    .dot {
      display: inline-block;
      margin-right: 15px;
      margin-top: 13px;
      min-width: 5px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $red-dark;
    }
  }
}

@media (max-width: $bpL) {
  .descr {
    grid-column: 1 / 13;
    grid-row: 1;
  }
}

@media (max-width: $bpXS) {
  h2 {
    font-size: 20px;
  }
}
